<template>
  <div class="center-information">
    <h2>Centers information</h2>
    <p>We have {{centersCount}} centers</p>
    <ul v-if="centers">
      <li v-for="center in centers" :key="center.id">
        <span class="fs-5"><strong>{{center.name}}</strong></span>
        <ul>
          <li class="fs-6">{{allVaccinesFormatted(center.id)}}</li>
          <li class="fs-6">{{allDatesFormatted(center.id)}}</li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CenterInformation',
  computed: {
    centersCount () {
      return this.$store.getters['centers/centersCount']
    },
    centers () {
      return this.$store.state.centers.centers
    },
    ...mapGetters( 'centers', [
      'centerById',
      'allDatesByCenterId',
      'allAvailableDatesByCenterId',
      'allDatesByCenterIdVaccineId',
      'allAvailableDatesByCenterIdVaccineId',
      'allAvailableVaccinesByCenterId'
    ]),
    getVaccineName () {
      return this.$store.getters['vaccines/getVaccineName']
    }
  },
  created() {
    console.log(this.centerById('kaunas-a'))
    console.log(this.allDatesByCenterId('kaunas-a'))
    console.log(this.allAvailableDatesByCenterId('kaunas-a'))
    console.log(this.allDatesByCenterIdVaccineId('kaunas-a', 'pfizer'))
    console.log(this.allAvailableDatesByCenterIdVaccineId('kaunas-a', 'pfizer'))
    console.log(this.allAvailableVaccinesByCenterId('kaunas-a'))
  },
  methods: {
    allDatesFormatted (centerId) {
      const dates = this.allAvailableDatesByCenterId(centerId);
      if (dates.length > 0) {
        return dates.join(', ');
      } else {
        return 'no dates';
      }
    },

    allVaccinesFormatted (centerId) {
      let vaccines = this.allAvailableVaccinesByCenterId(centerId);
      vaccines = vaccines.map(vaccineId => this.getVaccineName(vaccineId))
      if (vaccines.length > 0) {
        return vaccines.join(', ');
      } else {
        return 'no vaccines';
      }
    }
  }
}
</script>